<div class="aplicacion">
  <div class="menu-lateral">
    <h2>IA Malvinas</h2>
    <ul class="lista-opciones">
      <li>
        <button type="button"
                (click)="MostrarSubBotonesReclamo()"
                class="menu-titulo"
                [class.activo]="mostrarSubBotonReclamos">
          <span class="texto">Administrar reclamos</span>
          <span class="flecha" [class.rotada]="mostrarSubBotonReclamos">▶</span>
        </button>
        <div class="subbotones">
          <button class="subboton" (click)="cambiarAmodoAdministrarReclamo()" *ngIf="mostrarSubBotonReclamos">Administrar valores</button>
          <button class="subboton" (click)="cambiarAmodoEditarReclamo()" *ngIf="mostrarSubBotonReclamos">Editar valores</button>
          <button class="subboton" (click)="cambiarAmodoEliminarReclamo()" *ngIf="mostrarSubBotonReclamos">Eliminar valores</button>
        </div>
      </li>
      <li>
        <button type="button" (click)="MostrarSubBotonesObras()" class="menu-titulo"
                [class.activo]="mostrarSubBotonObras">
          <span class="texto">Administrar obras</span>
          <span class="flecha" [class.rotada]="mostrarSubBotonObras">▶</span>
        </button>
        <div class="subbotones">
          <button class="subboton" *ngIf="mostrarSubBotonObras" (click)="MostrarCrearValorObra()">Administrar valores</button>
          <button class="subboton" *ngIf="mostrarSubBotonObras" (click)="MostrarEditarTipoObras()">Editar valores</button>
          <button class="subboton" *ngIf="mostrarSubBotonObras" (click)="mostrarEliminarValoresObra()">Eliminar valores</button>
        </div>
      </li>
      <li>
        <button type="button" (click)="MostrarSubBotonesUsuarios()" class="menu-titulo"
                [class.activo]="mostrarSubBotonUsuario">
          <span class="texto">Administrar usuarios</span>
          <span class="flecha" [class.rotada]="mostrarSubBotonUsuario">▶</span>
        </button>
        <div class="subbotones">
          <button class="subboton" *ngIf="mostrarSubBotonUsuario" (click)="MostrarCargarUsuarios()">Crear usuario</button>
          <button class="subboton" *ngIf="mostrarSubBotonUsuario" (click)="MostrarModoEdicion()">Editar usuario</button>
        </div>
      </li>
    </ul>

    <button class="boton-volver" (click)="volverAlLogin()">Volver hacia atrás</button>

  </div>

  <!-- CONTENIDO PRINCIPAL USUARIOS-->
  <div class="contenido-principal">


    <div class="seccion-usuarios">
      <div class="titulo">
        <h2 *ngIf="mostrarCargaDeUsuario ||  modoEdicion">USUARIOS</h2>
        <h2  *ngIf="administrarObra || modoEdicionTipoObra || modoEliminarTipoObra">ADMINISTRAR OBRAS</h2>
        <h2  *ngIf="administrarReclamo || modoEdicionReclamo || modoEliminarReclamo">ADMINISTRAR RECLAMOS</h2>
      </div>

    </div>

    <div id="formulario-crear-usuario" *ngIf="mostrarCargaDeUsuario ||  modoEdicion">
      <form class="formulario">

        <div style="position: relative;">
        <label>Nombre de usuario:
          <input type="text" name="nombre" [(ngModel)]="nombre_usuario" (input)="buscarUsuarios(nombre_usuario)" required>
        </label>
        <ul *ngIf="modoEdicion && usuariosSugeridos && usuariosSugeridos.length > 0" class="autocomplete-list">
          <li *ngFor="let usuario of usuariosSugeridos" (mousedown)="seleccionarUsuario(usuario)">
            {{ usuario.nombre }}
          </li>
        </ul>
        <div *ngIf="error_nombre" class="mensaje-error">
          {{ error_nombre }}
        </div>
        </div>
        <ng-container *ngIf="!modoEdicion || mostrarDatosEdicion">
        <label>Email:
          <input type="email" name="email" [(ngModel)]="email" required>
        </label>
        <div *ngIf="error_mail" class="mensaje-error">
          {{ error_mail }}
        </div>
        <label>Estado:
          <select name="estado" [(ngModel)]="estadoSeleccionadoId" required>
            <option *ngFor="let estado of estados" [value]="estado.id">
              {{ estado.descripcion }}
            </option>
          </select>
        </label>
        <div *ngIf="error_estado" class="mensaje-error">
          {{ error_estado }}
        </div>

        <label>Rol:
          <select name="rol" [(ngModel)]="rolSeleccionadoId" required>
            <option *ngFor="let rol of roles" [value]="rol.id">
              {{ rol.tipo }}
            </option>
          </select>
        </label>
        <div *ngIf="error_rol" class="mensaje-error">
          {{ error_rol }}
        </div>
        </ng-container>
        <button (click)="crearUsuario() " *ngIf="!modoEdicion">Crear usuario</button>
        <button (click)="editarUsuario()" *ngIf="modoEdicion">Editar usuario</button>
        <div *ngIf="error" class="mensaje-error">
          {{ error }}
        </div>
      </form>
    </div>
      <div id="formulario-administrar-obra" *ngIf="administrarObra ||  modoEdicionTipoObra || modoEliminarTipoObra">
      <form class="formulario">
        <div style="position: relative;">
        <label>Tipo Obra:
          <input type="text" name="tipoObra" [(ngModel)]="tipoObra" (input)="buscarTipoObras(tipoObra)" required>
        </label>
        <ul *ngIf="(modoEdicionTipoObra || modoEliminarTipoObra) && tipoObrasSugeridos && tipoObrasSugeridos.length > 0" class="autocomplete-list">
          <li *ngFor="let tipoObra of tipoObrasSugeridos" (mousedown)="seleccionarTipoObra(tipoObra)">
            {{ tipoObra.descripcion }}
          </li>
        </ul>
        </div>
        <div style="position: relative;">
        <label>Estado Obra:
          <input type="text" name="estadoObra" [(ngModel)]="estadoObra" (input)="buscarEstadoObras(estadoObra)" required>
        </label>
          <ul *ngIf="(modoEdicionTipoObra || modoEliminarTipoObra)&& estadoObrasSugeridos && estadoObrasSugeridos.length > 0" class="autocomplete-list">
            <li *ngFor="let estadoObra of estadoObrasSugeridos" (mousedown)="seleccionarEstadoObra(estadoObra)">
              {{ estadoObra.descripcion }}
            </li>
          </ul>
        </div>






        <div *ngIf="errorObras" class="mensaje-error">
          {{ errorObras }}
        </div>
        <button (click)="crearValoresObra() " *ngIf="administrarObra">Crear valores</button>
        <button (click)="actualizarValoresObras()"  *ngIf="modoEdicionTipoObra">Editar valores</button>
        <button   (click)="eliminarValoresObra()" *ngIf="modoEliminarTipoObra">Eliminar valores</button>

      </form>
    </div>

    <div id="formulario-administrar-reclamo" *ngIf="administrarReclamo ||  modoEdicionReclamo || modoEliminarReclamo">
      <form class="formulario">


    <div style="position: relative;">
      <label>Estado Reclamo:
        <input type="text" name="estadoReclamo" [(ngModel)]="estadoReclamo" (input)="buscarEstadoReclamos(estadoReclamo)" required>
      </label>
      <ul *ngIf="(modoEdicionReclamo || modoEliminarReclamo)&& estadoReclamosSugeridos && estadoReclamosSugeridos.length > 0" class="autocomplete-list">
        <li *ngFor="let estadoReclamo of estadoReclamosSugeridos" (mousedown)="seleccionarEstadoReclamo(estadoReclamo)">
          {{ estadoReclamo.descripcion }}
        </li>
      </ul>

      <label>Tipo Reclamo:
        <input type="text" name="tipoReclamo" [(ngModel)]="tipoReclamo" (input)="buscarTipoReclamos(tipoReclamo)" required>
      </label>
      <ul *ngIf="(modoEdicionReclamo || modoEliminarReclamo)&& tipoReclamosSugeridos && tipoReclamosSugeridos.length > 0" class="autocomplete-list">
        <li *ngFor="let tipoReclamo of tipoReclamosSugeridos" (mousedown)="seleccionarTipoReclamo(tipoReclamo)">
          {{ tipoReclamo.descripcion }}
        </li>
      </ul>

      <label>Nivel de Satisfaccion:
        <input type="text" name="nivelReclamo" [(ngModel)]="nivelReclamo" (input)="buscarNivelReclamos(nivelReclamo)" required>
      </label>
      <ul *ngIf="(modoEdicionReclamo || modoEliminarReclamo)&& nivelReclamosSugeridos && nivelReclamosSugeridos.length > 0" class="autocomplete-list">
        <li *ngFor="let nivelReclamo of nivelReclamosSugeridos" (mousedown)="seleccionarNivelReclamo(nivelReclamo)">
          {{ nivelReclamo.descripcion }}
        </li>
      </ul>
      <div *ngIf="errorReclamos" class="mensaje-error">
        {{ errorReclamos }}
      </div>

    </div>
        <button (click)="crearValoresReclamo() " *ngIf="administrarReclamo">Crear valores</button>
        <button (click)="actualizarValoresReclamo()"  *ngIf="modoEdicionReclamo">Editar valores</button>
        <button   (click)="eliminarValoresReclamo()" *ngIf="modoEliminarReclamo">Eliminar valores</button>
    </form>

  </div>
</div>
</div>
