:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-menu {
  height: 80px;
  flex-shrink: 0;
}

app-bienvenida {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
