<div class="aplicacion">
  <div class="menu-lateral">
    <h2>IA Malvinas</h2>
    <ul class="lista-opciones">
      <li>
        <button type="button"
                (click)="MostrarSubBotonesReclamo()"
                class="menu-titulo"
                [class.activo]="mostrarSubBotonReclamos">
          <span class="texto">Administrar reclamos</span>
          <span class="flecha" [class.rotada]="mostrarSubBotonReclamos">▶</span>
        </button>
        <div class="subbotones">
          <button class="subboton" *ngIf="mostrarSubBotonReclamos" (click)="MostrarCrearReclamo()" [class.activo]="mostrarCrearReclamo">Crear Reclamo</button>
          <button class="subboton" *ngIf="mostrarSubBotonReclamos" (click)="MostrarEditarReclamo()" [class.activo]="mostrarEditarReclamo">Editar Reclamo</button>
          <button class="subboton" *ngIf="mostrarSubBotonReclamos" (click)="MostrarAdjuntarExcel()" [class.activo]="mostrarAdjuntarExcel">Adjuntar Excel</button>
        </div>
      </li>
      <li>
        <button type="button" (click)="MostrarSubBotonesObras()" class="menu-titulo"
                [class.activo]="mostrarSubBotonObras">
          <span class="texto">Administrar obras</span>
          <span class="flecha" [class.rotada]="mostrarSubBotonObras">▶</span>
        </button>
        <div class="subbotones">
          <button class="subboton" *ngIf="mostrarSubBotonObras" (click)="MostrarCrearObra()"[class.activo]="mostrarCrearObra">Crear Obra</button>
          <button class="subboton" *ngIf="mostrarSubBotonObras" (click)="MostrarEditarObra()" [class.activo]="mostrarEditarObra">Editar Obra</button>
          <button class="subboton" *ngIf="mostrarSubBotonObras" (click)="mostrarAdjuntarExcelObras()" [class.activo]="mostrarAdjuntarExcelObra">Adjuntar Excel</button>
        </div>
      </li>
    </ul>
    <button class="boton-volver" (click)="volverAlLogin()">Volver hacia atrás</button>

  </div>

  <div class="contenido-principal">
    <div class="seccion-usuarios">
      <div class="titulo">
        <h2 *ngIf="mostrarEditarReclamo || mostrarAdjuntarExcel || mostrarCrearReclamo">RECLAMOS</h2>
        <h2 *ngIf="mostrarCrearObra || mostrarEditarObra">OBRAS</h2>
      </div>

      <div id="formulario-crear-reclamo" *ngIf="mostrarCrearReclamo || mostrarEditarReclamo">
        <form class="formulario" autocomplete="off">
          <fieldset class="fieldset-form">
            <legend>Datos del Reclamo</legend>

            <div class="campos-en-linea">
              <!-- Campo fuera del ng-container -->
              <div style="position: relative;">
                <label>Nombre Reclamo:
                  <input type="text" name="nombreReclamo" [(ngModel)]="nombreReclamo" (input)="buscarReclamos(nombreReclamo)">
                </label>

              <ul *ngIf="mostrarEditarReclamo && reclamosSugeridos && reclamosSugeridos.length > 0" class="autocomplete-list">
                <li *ngFor="let reclamo of reclamosSugeridos" (mousedown)="seleccionarReclamo(reclamo)">
                  {{ reclamo.nombre }}
                </li>
              </ul>
              </div>
              <ng-container *ngIf="mostrarDatosEdicion || !mostrarEditarReclamo">
                <label>Tipo de reclamo:
                  <select name="tipoReclamo" [(ngModel)]="tipoReclamoSeleccionadoId">
                    <option *ngFor="let tipoReclamo of tiposReclamo" [value]="tipoReclamo.id">
                      {{ tipoReclamo.descripcion }}
                    </option>
                  </select>
                </label>

                <label>Fecha del reclamo:
                  <input type="date" name="fecha-reclamo" [(ngModel)]="fechaReclamo">
                </label>

                <label>Estado:
                  <select name="estado-obra" [(ngModel)]="estadoReclamoSeleccionadoId">
                    <option *ngFor="let estadoReclamo of estadosReclamo" [value]="estadoReclamo.id">
                      {{ estadoReclamo.descripcion }}
                    </option>
                  </select>
                </label>

                <label>Localidad:
                  <input type="text" name="localidad" [(ngModel)]="localidad" required>
                </label>
                <label>Barrio:
                  <input type="text" name="barrio" [(ngModel)]="barrio" required>
                </label>
                <label>Calle:
                  <input type="text" name="calle" [(ngModel)]="calle" required>
                </label>
                <label>Numero de calle:
                  <input type="number" name="nroCalle" [(ngModel)]="nroCalle" min="0" required>
                </label>

                <label>Tiempo de resolución (en días):
                  <input type="number" name="tiempoResolucion" [(ngModel)]="tiempoResolucion" min="1" required>
                </label>

                <label>Nivel de Satisfaccion:
                  <select name="satisfaccion" [(ngModel)]="nivelReclamoSeleccionadoId" required>
                    <option *ngFor="let nivelReclamo of nivelesReclamo" [value]="nivelReclamo.id">
                      {{ nivelReclamo.descripcion }}
                    </option>
                  </select>
                </label>

                <label class="descripcion-label">Descripción:
                  <textarea name="descripcion" rows="4" [(ngModel)]="descripcion"></textarea>
                </label>
              </ng-container>
            </div>
            <div *ngIf="mensajeErrorReclamo" class="mensaje-error">
              {{ mensajeErrorReclamo }}
            </div>
          </fieldset>

          <div class="botones-formulario">
            <button type="submit" *ngIf="mostrarCrearReclamo" (click)="crearReclamo()">Crear Reclamo</button>
            <button type="button" *ngIf="mostrarEditarReclamo" (click)="editarReclamo()">Editar Reclamo</button>
          </div>

        </form>
      </div>
      <div id="formulario-crear-obra" *ngIf="mostrarCrearObra || mostrarEditarObra" >
        <form class="formulario" autocomplete="off">
          <fieldset class="fieldset-form">
            <legend>Datos de la obra</legend>
            <div class="campos-en-linea">
              <div style="position: relative;">
              <label>Nombre:
                <input type="text" name="nombreObra" [(ngModel)]="nombreObra" (input)="buscarObras(nombreObra)">
              </label>
                <ul *ngIf="mostrarEditarObra && obrasSugeridas && obrasSugeridas.length > 0" class="autocomplete-list">
                  <li *ngFor="let obra of obrasSugeridas" (mousedown)="seleccionarObra(obra)">
                    {{ obra.nombre }}
                  </li>
                </ul>


              </div>
              <!-- Agrupamos el resto -->
              <ng-container *ngIf="mostrarCrearObra || mostrarDatosEdicionObra">
                <label>Tipo de obra:
                  <select name="tipoObra" [(ngModel)]="tipoObraSeleccionadoId">
                    <option *ngFor="let tipoObra of tiposObra" [value]="tipoObra.id">
                      {{ tipoObra.descripcion }}
                    </option>
                  </select>
                </label>

                <label>Fecha de inicio:
                  <input type="date" name="fechaInicio" [(ngModel)]="fechaInicioObra">
                </label>

                <label>Fecha fin estimada:
                  <input type="date" name="fechaEstimadaFinalizacion" [(ngModel)]="fechaFinEstimada">
                </label>

                <label>Avance físico:
                  <input type="number" name="avanceFisico" step="any" min="0" max="100" [(ngModel)]="avanceFisico">
                </label>

                <label>Monto presupuestado:
                  <input type="number" name="montoPresupuestado" step="any" min="0" max="100" [(ngModel)]="montoPresupuestado">
                </label>

                <label>Monto ejecutado:
                  <input type="number" name="montoEjecutado" step="any" min="0" max="100" [(ngModel)]="montoEjecutado">
                </label>

                <label>Fecha real de finalizacion:
                  <input type="date" name="fechaRealFinalizacion" [(ngModel)]="fechaFinReal">
                </label>

                <label>Localidad:
                  <input type="text" name="localidad" [(ngModel)]="localidadObra" required>
                </label>

                <label>Barrio:
                  <input type="text" name="barrio" [(ngModel)]="barrioObra">
                </label>

                <label>Calle:
                  <input type="text" name="calle" [(ngModel)]="calleObra">
                </label>

                <label>Numero de calle:
                  <input type="number" name="nroCalle" [(ngModel)]="nroCalleObra">
                </label>

                <label>Estado:
                  <select name="estadoObra" [(ngModel)]="estadoObraSeleccionadoId">
                    <option *ngFor="let estadoObra of estadosObra" [value]="estadoObra.id">
                      {{ estadoObra.descripcion }}
                    </option>
                  </select>
                </label>

                <label class="descripcion-label">Descripción:
                  <textarea name="descripcion" rows="4" [(ngModel)]="descripcionObra"></textarea>
                </label>
              </ng-container>
            </div>

            <div *ngIf="mensajeErrorObra" class="mensaje-error">
              {{ mensajeErrorObra }}
            </div>

          </fieldset>
          <div class="botones-formulario">
            <button type="submit" *ngIf="mostrarCrearObra" (click)="crearObra()">Crear Obra</button>
            <button type="button" *ngIf="mostrarEditarObra" (click)="editarObra()">Editar Obra</button>


          </div>






        </form>
      </div>

      <div id="formulario-adjuntar-excel" *ngIf="mostrarAdjuntarExcel ">
      <form class="formulario" (submit)="onUpload()" autocomplete="off">
        <input type="file" (change)="onFileSelected($event)" accept=".xlsx, .xls" />
        <button type="submit" [disabled]="!selectedFile">Subir Excel de Reclamos</button>
      </form>
      </div>

      <div id="formulario-adjuntar-excel-obra" *ngIf=" mostrarAdjuntarExcelObra">
        <form class="formulario" (submit)="onUploadObra()" autocomplete="off">
          <input type="file" (change)="onFileSelectedObra($event)" accept=".xlsx, .xls" />
          <button type="submit" [disabled]="!selectedFileObra">Subir Excel de Obras</button>
        </form>
      </div>

    </div>
  </div>
</div>


