#navegacion {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 30px;
  background: linear-gradient(to right, #032f5c, #06315c);
  border-bottom: 2px solid #ccc;
}

.logo {
  flex-shrink: 0;
}

.logo img {
  width: 70px;
  height: auto;
  margin-right: 25px;
}

.menu-lista {
  list-style: none;
  margin:   0 auto;
  padding: 0;
  display: flex;
  gap: 40px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  text-decoration: none;
  background-color: #1e4f8b;
  color: #d9e9ff;
  font-weight: bold;
  font-size: 16px;
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
  display: inline-block;
  cursor: pointer;
  padding: 6px 18px;
  border-radius: 20px;
}

.menu a:hover {
  color: #fff;
  background-color: #3399ff; /* azul más claro para hover */
  transform: scale(1.2);
}
