
<div class="aplicacion">
  <div class="menu-lateral">
    <h2>IA Malvinas</h2>
    <ul class="lista-opciones">
      <li>
        <button type="button" class="menu-titulo" (click)="mostrarInicioBoton()">
          <span class="texto">Inicio</span>
        </button>

        <button type="button" class="menu-titulo">
          <span class="texto">Consultar Reclamos</span>
          <span class="flecha">▶</span>
        </button>
        <div class="subbotones">
          <button class="subboton" (click)="mostrarGraficosReclamosBoton()">Visualizar Graficos</button>
          <button class="subboton">Visualizar Mapas</button>
        </div>
      </li>
      <li>
        <button type="button" class="menu-titulo">
          <span class="texto">Consultar Obras</span>
          <span class="flecha">▶</span>
        </button>
        <div class="subbotones">
          <button class="subboton">Visualizar Graficos</button>
          <button class="subboton">Visualizar Mapas</button>
        </div>
      </li>
    </ul>
    <button class="btn-ia-malvinas">
      <span>💬 HABLAR CON IA MALVINAS</span>
    </button>
    <button class="boton-volver">Volver hacia atrás</button>
  </div>

  <div >
    <div >
      <div class="titulo">
        <h2>CONSULTOR</h2>
      </div>
      <div class="Inicio" *ngIf="mostrarInicio">
        <h1>INICIO</h1>

      </div>


      <div class="graficosReclamo" *ngIf="mostrarGraficosReclamos">

          <div class="grafico-container">
            <h2>Reclamos por Estado</h2>
            <canvas baseChart
                    [data]="barChartData"
                    [options]="barChartOptions"
                    chartType="bar">
            </canvas>
          </div>

      </div>
    </div>
  </div>
</div>


