
<section class="seccion-recuperar">
  <div class="mensaje-recuperar">
    <h1>Recuperar contraseña</h1>
    <p>Ingresá tu correo electrónico y te enviaremos instrucciones para restablecer tu contraseña.</p>
  </div>

  <form class="recuperar-form" action="#" method="post">
    <div class="grupo-entrada">
      <input
        id="email"
        name="email"
        type="email"
        required
      />
      <label for="email">Correo electrónico</label>
    </div>

    <div class="grupo-entrada">
      <input
        id="token"
        name="token"
        type="text"
        required
      />
      <label for="token">Ingrese su Token</label>
    </div>

    <div class="grupo-entrada">
      <input
        id="nuevaContrasena"
        name="nuevaContrasena"
        type="password"
        required
      />
      <label for="nuevaContrasena">Ingrese su nueva contraseña</label>
    </div>

    <div class="grupo-entrada">
      <input
        id="repetirContrasena"
        name="repetirContrasena"
        type="password"
        required
      />
      <label for="repetirContrasena">Repita su nueva contraseña</label>
    </div>

    <button class="enviar" type="submit">Enviar</button>

  </form>
</section>






