<section class="seccion-inicio-sesion">
  <div class="mensaje-bienvenida">
    <h1>¡Bienvenido a Comando IA Malvinas!</h1>
  </div>

  <div class="caja-inicio-sesion">
    <h2>Iniciar sesión</h2>

    <form (ngSubmit)="onLogin($event)">
      <div class="grupo-entrada">
        <input
          id="usuario"
          name="usuario"
          type="text"
          [(ngModel)]="usuario"
          required
        />
        <label for="usuario">Usuario</label>
      </div>

      <div class="grupo-entrada">
        <input
          id="contrasena"
          name="contrasena"
          type="password"
          [(ngModel)]="contrasena"
          required
        />
        <label for="contrasena">Contraseña</label>
      </div>

      <button class="ingresar" type="submit">Ingresar</button>

      <div *ngIf="error" style="color: red; margin-top: 10px;">
        {{ error }}
      </div>
    </form>

    <div class="olvido-contrasena">
      <button class="olvidoContra" type="button" (click)="irARecuperar()">
        ¿Olvidaste la contraseña?
      </button>
    </div>
  </div>
</section>
