
<section class="seccion-inicio-sesion">

  <div class="mensaje-bienvenida">
    <h1>¡Bienvenido a Comando IA Malvinas!</h1>
  </div>

  <div class="caja-inicio-sesion">

    <h2 >Iniciar sesión</h2>
    <form method="POST" action="/login">
      <div class="grupo-entrada">
        <input id="usuario" name="usuario" type="text" required />
        <label for="usuario">Usuario</label>
      </div>

      <div class="grupo-entrada">
        <input id="contrasena" name="contrasena" type="password" required />
        <label for="contrasena">Contraseña</label>
      </div>

      <button type="submit">Ingresar</button>

      <div class="olvido-contrasena">
        <a href="#">¿Olvidaste tu contraseña?</a>
      </div>
    </form>
  </div>
</section>
