<section class="seccion-inicio-sesion">
  <div class="mensaje-bienvenida">
    <h1 class="titulo">¡Bienvenido a Comando IA Malvinas!</h1>
  </div>

  <div class="caja-inicio-sesion">
    <h2>Iniciar sesión</h2>

    <form (ngSubmit)="onLogin($event)" autocomplete="off">
      <div class="grupo-entrada">
        <input
          id="usuario"
          name="usuario"
          type="text"
          [(ngModel)]="usuario"
          required
        />
        <label for="usuario">Usuario</label>
      </div>

      <div class="grupo-entrada">
        <input
          id="contrasena"
          name="contrasena"
          [type]="mostrarContrasena ? 'text' : 'password'"
          [(ngModel)]="contrasena"
          required
        />
        <label for="contrasena">Contraseña</label>
        <button type="button" class="toggle-ojito" (click)="toggleMostrarContrasena()" tabindex="-1">
          <span *ngIf="mostrarContrasena">👁️</span>
          <span *ngIf="!mostrarContrasena">👁️‍🗨️</span>
        </button>
      </div>

      <button class="ingresar" type="submit">Ingresar</button>

      <div *ngIf="error" class="mensaje-error">
        {{ error }}
      </div>
    </form>

    <div class="olvido-contrasena">
      <button class="olvidoContra" type="button" (click)="irARecuperar()">
        ¿Olvidaste la contraseña?
      </button>
    </div>
  </div>
</section>
